@import "src/app/styles/base"

.cartProduct
  display: flex
  align-items: center

.cartProduct__image
  max-width: 100px

.cartProduct__info
  display: flex
  flex-direction: column
  margin: 10px

.cartProduct__buttons
  justify-content: space-between
  display: inline-flex
  margin-left: auto
  
.product__cost
  font-size: 15px
  color: $important-text-color
  text-align: center  