.add2cart {
  padding: 0 10px;
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 150px;

    input {
      text-align: center;
      background-color: var(--bkg-color);
      border-color: var(--primary-color);
    }

    button {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}
